<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::body}, 'author')}" >
<head>
    <meta charset="UTF-8">
    <title>Find author</title>
</head>
<body>
<!--/*@thymesVar id="author" type="com.thanhdhoang.clonegoodreads.persistence.domain.Author "*/-->
<!--/*@thymesVar id="genre" type="com.thanhdhoang.clonegoodreads.persistence.domain.Genre "*/-->
<!--/*@thymesVar id="genre" type="java.util.Set "*/-->

<h2><b>Find Author</b></h2>

<form th:object="${author}" th:action="@{/author/find}" id="find-author-form" method="get">
    <div>
        <input th:replace="~{fragments/input :: input ('Author name', 'name', 'text')}" />
    </div>
    <div class="form-row mb-3" >
        <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-dark" type="submit">Find Author</button>
        </div>
    </div>
</form>

<div th:if="${authors != null && authors.size() > 1}"  class="container">
    <div th:each="vauthor : ${authors}" class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-light"
            th:href="${'/author/' + vauthor.id + '/show'}" >
            <img class="img-fluid" style="width: auto; height: 50px;" alt="image"
                 th:src="${(vauthor.imageUrl != null && vauthor.imageUrl.length() > 0) ? vauthor.imageUrl : '/images/user_image.png'}" >
            <span class="ml-1" th:text="${vauthor.name}"></span>
        </a>

    </div>
</div>

</body>
</html>