<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::body}, 'author')}" >
<head>
    <meta charset="UTF-8">
    <title>Author main page</title>
</head>
<body>
<!--/*@thymesVar id="author" type="com.thanhdhoang.clonegoodreads.persistence.domain.Author "*/-->
<!--/*@thymesVar id="genre" type="com.thanhdhoang.clonegoodreads.persistence.domain.Genre "*/-->
<!--/*@thymesVar id="genre" type="java.util.List "*/-->

<h2><b>Find Author</b></h2>

<form th:object="${author}" th:action="@{/author/find}" id="find-author-form" method="get">
    <div>
        <input th:replace="~{fragments/input :: input ('Author name', 'name', 'text')}" />
    </div>
    <div class="form-row">
        <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-dark" type="submit">Find Author</button>
        </div>
    </div>
</form>
<form th:action="@{/author/new}" method="get">
    <button class="btn btn-dark" type="submit">Add Author</button>
</form>
<hr>

</body>
</html>