<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::body}, 'author')}" >
<head>
    <meta charset="UTF-8">
    <title>Author main page</title>
</head>
<body>
<!--/*@thymesVar id="author" type="com.thanhdhoang.clonegoodreads.persistence.domain.Author "*/-->
<!--/*@thymesVar id="genre" type="com.thanhdhoang.clonegoodreads.persistence.domain.Genre "*/-->
<!--/*@thymesVar id="genre" type="java.util.List "*/-->

<h2><b>Find Author</b></h2>

<form th:action="@{/author/find}" class="mb-3" id="find-book-form" method="get">
    <div class="input-group" >
        <input th:name="search-query" type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                Submit
            </button>
        </div>
    </div>
    <th:block th:if="${notFoundError != null}">
        <div th:text="${notFoundError}" class="mt-3 mb-3" ></div>
    </th:block>
</form>

<form th:action="@{/author/new}" method="get">
    <button class="btn btn-dark" type="submit">Add Author</button>
</form>
<hr>

</body>
</html>