<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <form>
        <th:block th:fragment="input (label, name, type)">
            <div class="form-row mb-3">
                <label th:for="${'validationServcer' + name}" class="col-sm-2 col-form-label"
                       th:text="${label}">
                    Label
                </label>

                <th:block th:switch="${type}" th:with="valid=${!#fields.hasErrors(name)}">
                    <textarea th:case="'textarea'" rows="5"
                            th:class="${'form-control col-sm-10' + (valid ? '' : 'is-invalid')}"
                              th:id="${'validationServcer' + name}"
                              th:field="*{__${name}__}"></textarea>

                    <input th:case="'text'" type="text"
                           th:class="${'form-control col-sm-10 ' + (valid ? '' : 'is-invalid')}"
                           th:id="${'validationServcer' + name}"
                           th:field="*{__${name}__}" />
                    <input th:case="'date'" type="text"
                           th:class="${'form-control col-sm-10 ' + (valid ? '' : 'is-invalid')}"
                           th:id="${'validationServcer' + name}"
                           th:field="*{__${name}__}"
                           placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"
                           pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" />
                </th:block>

                <div th:with="valid=${!#fields.hasErrors(name)}"
                     th:class="${(valid? 'col-sm-10 offset-sm-2 valid-feedback' : 'col-sm-10 offset-sm-2 invalid-feedback')}"
                     th:text="${(valid)? '' : 'missing or invalid input'}"
                ></div>

            </div>
        </th:block>
    </form>

</body>
</html>