
.list-group .list-group-item:hover {
    color: white;
    background-color: antiquewhite;
}

form label {
    font-weight: bold;
}

.invalid-feedback{
    display:none;
}

.invalid .invalid-feedback {
    display:block;
}